[submodule "hw/hw1/vendor/googletest"]
	path = hw/hw1/vendor/googletest
	url = https://github.com/google/googletest.git

[submodule "hw/hw2/vendor/googletest"]
	path = hw/hw2/vendor/googletest
	url = https://github.com/google/googletest.git
